<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creating Task</title>
</head>
<body>
    {% extends "base.html" %}
    {% block content %}

    

            <form  method="post"> 
                {%csrf_token%}
                {{form.as_p}}
                <button type="submit">Submit</button>
                <button> <a  href="{% url 'home' %}"   style="text-decoration: none; color: black;"> Go Home </a></button>





            </form>


    {% endblock  %}
</body>
</html>