<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complition</title>
    <style>
        #feed{
            background-color: olive;
            color: yellow;

        }
        .a{
            text-decoration: none;
        }
    </style>
</head>
<body>
    {% extends "base.html" %}
    {% block content %}




            <b> YOU HAVE SUCCESSFULY CREATE THE TASK </b> <br> 

            <button > <a href = "{% url 'create' %}"  class ='a' >Go Back </a> </button> |
            <button > <a href = "{% url 'home' %}" class = 'a' >Go Home </a> </button> 
        
        



    {% endblock  %}


</body>
</html>