<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base  </title>
    <style>
            header{
                background-color: midnightblue;
                color: white;
                height: 73px;
            }
            #one{
                position: relative;
                top: 20px;
            }
        
            #two{
                position: relative;
                left: 74%;
                top: 20px;
                font-size: 17;
            }



    </style>

</head>
<body>
    <header > <span id ='one'> WELOCME TO THE WEBSITE  <span id ='two' >Creater : Dinesh Singh </label></span>  </header> 


    {% block content %}
    
    {% endblock  %}
</body>
</html>